.info-block {
  margin-top: 30px;
}
.info-block__title {
  text-align: center;
  font-family: var(--font-family);
  color: #2c2c2c;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  text-decoration-line: underline;
}
.info-block__text {
  text-align: center;
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 15px;
}
